body {
  background: linear-gradient(to bottom right, #5a5ba2, #845ad8, #ac5ce6, #bc14ff);
}

#container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  width: 90%;
  max-width: 1000px;
}

.dog-container {
  width: calc(25% - 20px);
  height: 750px;
  margin: 0 10px;
  padding: 20px;
  background-color: #86bb6a;
  border-radius: 10px;
  text-align: center;
}

.dog-container img {
  max-width: 60%;
  max-height: 40%;
  margin-bottom: 20px;
}

.dog-container h2 {
  font-size: 34px;
  margin-bottom: 10px;
}

.dog-container p {
  font-size: 22px;
}
h1 {
  font-size: 68px;
  font-family: 'Luminari', fantasy;
  text-align: center;
  background: linear-gradient(to right, #720414, #d4933d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description p {
  font-size: 21px;
}
